In [1]:
import pandas as pd
import numpy as np
import pylab

%matplotlib inline

In [2]:
summary = pd.read_csv('data/atussum_2014.dat')
from summary_data import *
summary = summary.rename(columns=all_cols)

#respondents = pd.read_csv('data/atusresp_2014.dat')
#
roster = pd.read_csv('data/atusrost_2014.dat')

In [3]:
summary.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11592 entries, 0 to 11591
Columns: 409 entries, case_id to Unable to code activity at 1st tier
dtypes: float64(1), int64(408)
memory usage: 36.3 MB

In [4]:
summary.head(20)

,case_id,stat_weight,age_youngest_child,age,sex,high_lvl_edu,race,hisp,metro,labor_status,...,Travel related to phone calls,"Travel rel. to phone calls, n.e.c.*",Security procedures related to traveling,"Security procedures related to traveling, n.e.c.*","Traveling, n.e.c.*",Insufficient detail in verbatim,Missing travel or destination,Respondent refused to provide information/'none of your business',Gap/can't remember,Unable to code activity at 1st tier
0,20140101140007,4891315.826760,0,20,2,39,1,1,1,4,...,0,0,0,0,0,0,0,0,0,0
1,20140101140011,23147368.359655,16,16,2,37,2,2,1,1,...,0,0,0,0,0,0,0,0,0,0
2,20140101140028,20941823.429044,2,65,2,38,1,1,1,5,...,0,0,0,0,0,0,0,0,0,0
3,20140101140063,2505899.417166,-1,50,2,39,2,2,2,5,...,0,0,0,0,0,0,0,0,0,0
4,20140101140168,15928231.823165,8,23,2,39,2,2,2,4,...,0,0,0,0,0,0,0,0,0,0
5,20140101140537,3622350.817628,-1,85,1,36,2,2,1,5,...,0,0,0,0,0,0,0,0,0,0
6,20140101140559,3653337.861341,1,27,1,43,1,2,2,1,...,0,0,0,0,0,0,0,0,0,0
7,20140101140610,11589604.860274,0,28,1,42,1,2,1,1,...,0,0,0,0,0,0,0,0,0,0
8,20140101140614,2019096.316437,-1,63,2,40,1,2,1,1,...,0,0,0,0,0,0,0,0,70,0
9,20140101140639,5332005.152751,-1,85,1,44,1,2,1,5,...,0,0,0,0,0,0,0,0,0,0
10,20140101140665,4778595.528829,-1,66,2,39,1,2,1,1,...,0,0,0,0,0,0,0,0,0,0
11,20140101140685,7015085.157922,-1,54,1,39,1,2,1,5,...,0,0,0,0,0,0,0,0,0,0
12,20140101140702,6323639.241364,0,31,2,39,1,1,1,5,...,0,0,0,0,0,0,0,0,0,0
13,20140101140725,7339555.320589,1,35,1,44,1,2,1,1,...,0,0,0,0,0,0,0,0,0,0
14,20140101140759,19564172.363871,-1,80,1,34,1,2,1,5,...,0,0,0,0,0,0,0,0,0,0
15,20140101140792,17110667.548441,-1,37,1,40,8,2,1,3,...,0,0,0,0,0,45,0,0,0,0
16,20140101140804,6209017.526033,10,41,2,42,1,2,1,1,...,0,0,0,0,0,0,0,0,0,0
17,20140101140836,2068191.833256,-1,85,2,34,1,2,1,5,...,0,0,0,0,0,0,0,0,0,0
18,20140101140852,2182116.985390,-1,67,1,43,1,2,1,5,...,0,0,0,0,0,0,0,0,0,0
19,20140101140854,4731635.020056,-1,21,2,40,1,1,1,5,...,0,0,0,0,0,0,0,0,0,0

In [5]:
len(summary.high_lvl_edu.unique())
summary.high_lvl_edu[39:46].count()

7

In [6]:
summary[['high_lvl_edu', 'sex']].head()

   high_lvl_edu  sex
0            39    2
1            37    2
2            38    2
3            39    2
4            39    2

In [11]:
female=summary[summary.sex==1].groupby('high_lvl_edu').count().reset_index()
male=summary[summary.sex==2].groupby('high_lvl_edu').count().reset_index()
male

pd.merge(male, female, on='high_lvl_edu', how='inner')

,high_lvl_edu,case_id_x,stat_weight_x,age_youngest_child_x,age_x,sex_x,race_x,hisp_x,metro_x,labor_status_x,...,Travel related to phone calls_y,"Travel rel. to phone calls, n.e.c.*_y",Security procedures related to traveling_y,"Security procedures related to traveling, n.e.c.*_y","Traveling, n.e.c.*_y",Insufficient detail in verbatim_y,Missing travel or destination_y,Respondent refused to provide information/'none of your business'_y,Gap/can't remember_y,Unable to code activity at 1st tier_y
0,31,8,8,8,8,8,8,8,8,8,...,11,11,11,11,11,11,11,11,11,11
1,32,42,42,42,42,42,42,42,42,42,...,27,27,27,27,27,27,27,27,27,27
2,33,74,74,74,74,74,74,74,74,74,...,66,66,66,66,66,66,66,66,66,66
3,34,121,121,121,121,121,121,121,121,121,...,115,115,115,115,115,115,115,115,115,115
4,35,131,131,131,131,131,131,131,131,131,...,138,138,138,138,138,138,138,138,138,138
5,36,161,161,161,161,161,161,161,161,161,...,153,153,153,153,153,153,153,153,153,153
6,37,173,173,173,173,173,173,173,173,173,...,178,178,178,178,178,178,178,178,178,178
7,38,65,65,65,65,65,65,65,65,65,...,59,59,59,59,59,59,59,59,59,59
8,39,1630,1630,1630,1630,1630,1630,1630,1630,1630,...,1263,1263,1263,1263,1263,1263,1263,1263,1263,1263
9,40,1138,1138,1138,1138,1138,1138,1138,1138,1138,...,880,880,880,880,880,880,880,880,880,880
10,41,290,290,290,290,290,290,290,290,290,...,207,207,207,207,207,207,207,207,207,207
11,42,432,432,432,432,432,432,432,432,432,...,242,242,242,242,242,242,242,242,242,242
12,43,1376,1376,1376,1376,1376,1376,1376,1376,1376,...,1060,1060,1060,1060,1060,1060,1060,1060,1060,1060
13,44,659,659,659,659,659,659,659,659,659,...,502,502,502,502,502,502,502,502,502,502
14,45,75,75,75,75,75,75,75,75,75,...,94,94,94,94,94,94,94,94,94,94
15,46,93,93,93,93,93,93,93,93,93,...,129,129,129,129,129,129,129,129,129,129

In [8]:
summary.pivot_table(index='high_lvl_edu', columns='sex' )
# schooling = summary.high_lvl_edu.value_counts()
# schooling.summary(groupby['sex', 'high_lvl_edu'])
# schooling = schooling.high_lvl_edu.replace('31', '30')

InvalidIndexError: Reindexing only valid with uniquely valued Index objects

In [ ]:
#summary[summary.high_lvl_edu].sort('sex')
#product_count = complaints.Product.value_counts()
schooling = summary.high_lvl_edu.value_counts()
# for summary.high_lvl_edu < 35:
#     summary.high_lvl_edu = 
# schooling.replace({'high_lvl_edu':
#                          {31:   "Less Than 1st Grade",
#                           32:   "1st, 2nd, 3rd, or 4th Grade",
#                           33:   "5th or 6th Grade",
#                           34:   "7th or 8th Grade",
#                           35:   "9th Grade",
#                           36:  "10th Grade",
#                           37:    "11th Grade",
#                           38:   "12th Grade - No Diploma",
#                           39:   "High School Grad - Diploma or Equiv (GED)",
#                           40:   "Some College But No Degree",
#                           41:   "Associate Degree - Occupational/Vocational",
#                           42:   "Associate Degree - Academic Program",
#                           43:    "Bachelor's Degree (EX: BA, AB, BS)",
#                           44:   "Master's Degree (EX: MA, MS, MEng, MEd, MSW)",
#                           45:   "Professional School Degree (EX: MD, DDS, DVM)",
#                           46:   "Doctorate Degree (EX: PhD, EdD)"}}) \
#                 .value_counts(sort=False)

schooling.plot(title = 'Level of schooling of respondents', legend = True, kind = 'pie')
# summary['high_lvl_edu'] = summary.index
# summary
#date_complaints['day_of_week'] = date_complaints.index.dayofweek

In [ ]:
#summary[summary.sex > 0].sort('sex')

In [ ]:
summary[summary.hs_or_col > 0].index

In [ ]:
summary[summary.high_lvl_edu > 38].sort('high_lvl_edu')